@font-face {
    font-family: 'roboto';
    src: url("fonts/roboto/Roboto-Regular.ttf") format('truetype');
    stroke: aliceblue;
    fill: aliceblue;
  }

html {
  background-color:rgb(41, 101, 123);
  font-family: monospace;
  font-size: large;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes type{ 
  from { width: 0; } 
} 

#main {
  width: 95vw;
  height: 85vh;
  display: inline;
}

#navEle {
  padding-top: 1vh;
  padding-left: 70vw;
  width: 25vw;
  height: 5vh;
  display: inline-block;
  padding-right: 0%;
  margin-top: 0%;
  vertical-align: top;
  animation: fadeInDown 2s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-anchor: middle;
  padding: 14px 16px;
}

li a:hover {
  color: rgb(85, 134, 64);
  background-color:lemonchiffon;
}


.active {
  background-color: #04AA6D;
  color: white;
}

#expDesc {
  outline: red;
  outline-offset: 4px;
}

#homeDesc {
  animation: fadeInDown 2s;
  stroke: aliceblue;
  fill: aliceblue;
}

#skillsDesc {
  stroke: rgb(15, 33, 39);
}
