@font-face {
    font-family: 'roboto';
    src: url("fonts/roboto/Roboto-Regular.ttf") format('truetype');
    stroke: aliceblue;
    fill: aliceblue;
  }

@font-face {
    font-family: 'poppins-reg';
    src: url("fonts/Poppins/Poppins-Regular.ttf") format('truetype');
    stroke: aliceblue;
    fill: aliceblue;
  }

@font-face {
  font-family: 'poppins-med';
  src: url("fonts/Poppins/Poppins-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'poppins-thin';
  src: url("fonts/Poppins/Poppins-Thin.ttf") format('truetype');
}

html {
  background-color:#2C5F78;
  font-family: poppins-thin;
  font-size: large;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
     opacity: 0.3;
  }
  100% {
     opacity: 0;
  }
}

@keyframes type{ 
  from { width: 0; } 
} 

#main {
  width: 95vw;
  height: 85vh;
  display: inline;
}

#navEle {
  padding-top: 1vh;
  padding-left: 65vw;
  width: 30vw;
  height: 5vh;
  display: inline-block;
  padding-right: 0%;
  margin-top: 0%;
  vertical-align: top;
  animation: fadeInDown 2s;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-anchor: middle;
  padding: 14px 16px;
  color: #E2E2E2;
}

li a:hover {
  color: #5A5A5A;
  background-color:lemonchiffon;
  opacity: 0.5;
  font-family: poppins-med;
}


.active {
  background-color: #04AA6D;
  color: white;
}

#homeDesc {
  animation: fadeInDown 2s;
  stroke: #f0e3d2;
  fill: #f0e3d2;
}

#skillsDesc {
  stroke: rgb(15, 33, 39);
}

#expTitles, #expPos {
  font-family: poppins-thin;
  stroke: #f0e3d2;
  fill: #f0e3d2;
}

#expDesc {
  font-family: poppins-thin;
  stroke: #f0e3d2;
  fill: #f0e3d2;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}